.textoInicio {
    font-size: 300%;
}

.sha {
  color: #0040FF;
  margin: 0 6px 0 6px;
}

.introWeb {
    background: url(../img/fondoInicio.jpg) no-repeat center center;
    background-size: cover;
}